* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'lato';
  scroll-behavior: smooth;
}
.header-container {
  position: relative;
  top: 0;
  padding: 7em 0;
  text-transform: uppercase;
}
.header-container, .main-menu {
  background: linear-gradient(to right, #00134d, #111111);
}
.nav-link {
  text-transform: uppercase;
  font-size: small;
}
.header-content, .about-content {
  text-align: center;
}
.header-content > h2 {
  line-height: 2;
  font-size: 1.3rem;
  padding: 0 0.3em;
}
.navbar-toggler {
  font-size: small;
}
.nav-item > .btn {
  display: none;
}
.nav-item {
  padding: 0.5em 0.5em;
}
.device-container {
  display: none;
}
.device-container > .device > img {
  width: 100%;
}
.section-heading > h1 {
  text-transform: uppercase;
  margin-top: 1.5em;
  color: #00134d;
}
.about-content, .card .card-text {
  font-size: 0.95rem;
  line-height: 2;
}
.card {
  border: 2px solid #cfcfcf;
  box-shadow: 2px 2px 3px 2.5px #dbdbdb;
  text-align: center;
  padding-top: 2em;
  margin: 0.5em 2em;
  height: 350px;
}
.card .card-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
}
.card > img {
  height: 150px;
}
.card:hover > img {
  height: 155px;
  transition: height 0.2s ease-in-out;
} 
.main-menu {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.fixed-top {
  position: fixed;
  top: 0;
  z-index: 9999;
}
@media only screen and (min-width: 580px) {
  .nav-item > .btn {
      display: inline;
  }
}
@media only screen and (min-width: 1000px) {
  .device-container {
      display: block;
  }
  .card {
      margin: 0.5em 0em;
  }
  .header-content, .about-content {
      text-align: left;
  }
}
