* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'lato', "Segoe UI", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(214, 35%, 21%, 0.95);
}
.wrapper {
  position: relative;
  background: linear-gradient(to right, #00134d, #111111);
  font-weight: 900;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 2em 0.5em;
}
.preloader-logo {
    width: 100%;
    border: 2px solid red;
}
.wrapper::before {
  position: absolute;
  content: '';
  width: 100px;
  top: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border-top: 4.5px solid #17a2b8;
  animation: loading 1s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-container {
  position: relative;
  top: 0;
  padding: 7em 0;
  text-transform: uppercase;
}
.header-container, .main-menu {
  background: linear-gradient(to right, #00134d, #111111);
}
.logo {
  width: 40%;
}
.text-logo {
  color: #0442ff;
}
footer .logo {
  width: 20%;
}
.header-content-container .col-lg-7 {
  display: none;
}
.nav-link {
  text-transform: uppercase;
  font-size: small;
}
.navbar-brand {
  border: 2px solid red;
  width: 40%;
}
.navbar-brand .logo {
  width: 100%;
}
.header-content, .about-content {
  text-align: center;
}
.header-content > h2 {
  line-height: 2;
  font-size: 1.3rem;
  padding: 0 0.3em;
}
.navbar-toggler {
  font-size: small;
}
.nav-item {
  padding: 0.5em 0.5em;
}
.device-container > .device > img {
  width: 100%;
}
.section-heading > h1 {
  text-transform: uppercase;
  margin-top: 1.5em;
  color: #00134d;
}
.about-content, .card .card-text {
  font-size: 0.95rem;
  line-height: 2;
}
.card {
  border: 2px solid #cfcfcf;
  box-shadow: 2px 2px 3px 2.5px #dbdbdb;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0.5em 2em;
  height: 340px;
}
.card .card-title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
}
.card > img {
  height: 100px;
}
.card:hover > img {
  height: 110px;
  transition: height 0.2s ease-in-out;
} 
.main-menu {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
.fixed-top {
  position: fixed;
  top: 0;
  z-index: 9999;
}
@media only screen and (min-width: 580px) {
  footer .logo {
    width: 12%;
  }
}
@media only screen and (min-width: 600px) {
  footer .logo {
    width: 10%;
  }
}
@media only screen and (min-width: 1000px) {
  .header-content-container .col-lg-7 {
      display: block;
  }
  .card {
      margin: 0.5em 0em;
      height: 300px;
  }
  .header-content, .about-content {
      text-align: left;
  }
}
